 
.text-barlow {
  font-family: 'Barlow Semi Condensed', sans-serif;
} 

.text-montserrat { 
  font-family: 'Montserrat Variable', sans-serif !important;

}
.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.active {
  color: #C65FEB;
  text-decoration: underline;
}
 
h5 {

  font-size: 16px !important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-weight: 600;
}

 
h3 {

  font-size: 35px !important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-weight: 600;
}